NUMPY

this done until Multi-Index and Index Hierarchy 03-DataFrames

In [1]:
import numpy as np

In [2]:
np.ones(2)*8

array([8., 8.])

In [3]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [4]:
np.arange(11,23,2) #creat series

array([11, 13, 15, 17, 19, 21])

In [5]:
np.arange(3,12).reshape(3,3)

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [6]:
np.eye(4).reshape(1,16)

array([[1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.]])

In [7]:
np.random.randn(6)

array([ 0.19818503,  0.49624684,  0.49306341,  0.90728806,  1.32524235,
       -0.1612029 ])

In [8]:
np.random.randint(10,20,5) #random between 2 numbers

array([10, 12, 15, 15, 12])

In [9]:
m= (np.arange(1,101)/100).reshape(10,10)
m[1:3]

array([[0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.2 ],
       [0.21, 0.22, 0.23, 0.24, 0.25, 0.26, 0.27, 0.28, 0.29, 0.3 ]])

In [10]:
np.linspace(10,20,6)  #create equal between 2 numbers

array([10., 12., 14., 16., 18., 20.])

In [11]:
m[3:5,5:9] #slice matrix

array([[0.36, 0.37, 0.38, 0.39],
       [0.46, 0.47, 0.48, 0.49]])

In [12]:
m.std()  # standard divation

0.2886607004772212

In [13]:
#for sum in colm and row
np.sum(m,axis=0)

array([4.6, 4.7, 4.8, 4.9, 5. , 5.1, 5.2, 5.3, 5.4, 5.5])

Pandas

In [14]:
import pandas as pd

In [15]:
#check the directory

In [16]:
pwd

'C:\\Users\\azarb\\Downloads\\Refactored_Py_DS_ML_Bootcamp-master'

In [17]:
#create data frame
df=pd.DataFrame(np.random.randn(10,12),index=("q,w,e,r,t,y,u,i,o,p").split(","),columns=("A B C D E F G H I J K L").split())

In [18]:
df.head()

,A,B,C,D,E,F,G,H,I,J,K,L
q,0.984226,-1.175972,0.733597,0.371607,-0.327184,0.693137,-0.251994,-2.256398,1.295198,-0.082170,-1.036226,0.595155
w,0.291302,-0.741298,0.671225,0.101904,1.793324,-0.401688,-0.272154,0.919862,-1.379043,1.720192,-0.199739,-1.037096
e,0.689847,-1.370253,0.022943,0.707545,1.632487,1.775484,-1.028201,-0.818512,-0.862518,-0.153520,-0.431242,0.967586
r,0.525737,-0.559894,-0.816182,-1.765108,-0.475015,-0.970294,-0.630795,-0.198981,-0.519870,0.615576,1.056803,1.093730
t,-0.451287,-0.552531,-1.219088,1.842282,1.923605,-0.635330,-0.318737,0.834005,0.468609,-1.899271,0.719572,-0.150814

In [32]:
df.loc["q"] #select row by name
df.iloc[2] #select row by num
df['A'] #select colmn by name

Group
q    0.984226
w    0.291302
e    0.689847
r    0.525737
t   -0.451287
y   -1.884001
u    2.835687
i   -0.595164
o   -0.203982
p    0.387285
Name: A, dtype: float64

In [19]:
df[2:6][["C","D","H"]] #slicing dataframes

          C         D         H
e  0.022943  0.707545 -0.818512
r -0.816182 -1.765108 -0.198981
t -1.219088  1.842282  0.834005
y -0.473523  0.046451 -0.123249

In [20]:
df["Mas"]=df.L + df.A #add cols

In [21]:
df.drop("w",axis=0).head()

,A,B,C,D,E,F,G,H,I,J,K,L,Mas
q,0.984226,-1.175972,0.733597,0.371607,-0.327184,0.693137,-0.251994,-2.256398,1.295198,-0.082170,-1.036226,0.595155,1.579381
e,0.689847,-1.370253,0.022943,0.707545,1.632487,1.775484,-1.028201,-0.818512,-0.862518,-0.153520,-0.431242,0.967586,1.657432
r,0.525737,-0.559894,-0.816182,-1.765108,-0.475015,-0.970294,-0.630795,-0.198981,-0.519870,0.615576,1.056803,1.093730,1.619467
t,-0.451287,-0.552531,-1.219088,1.842282,1.923605,-0.635330,-0.318737,0.834005,0.468609,-1.899271,0.719572,-0.150814,-0.602101
y,-1.884001,-1.109015,-0.473523,0.046451,-0.597941,-0.161245,0.041225,-0.123249,0.329167,0.927127,0.294214,-2.056881,-3.940882

** Selecting Rows**

In [22]:
df.loc['q'] #iloc for position df.iloc[1]

A      0.984226
B     -1.175972
C      0.733597
D      0.371607
E     -0.327184
F      0.693137
G     -0.251994
H     -2.256398
I      1.295198
J     -0.082170
K     -1.036226
L      0.595155
Mas    1.579381
Name: q, dtype: float64

In [23]:
df.loc[['q','r',"t"],['F','H']] # slicing by rows and cols

          F         H
q  0.693137 -2.256398
r -0.970294 -0.198981
t -0.635330  0.834005

In [24]:
df[df>0].head() #conditional

,A,B,C,D,E,F,G,H,I,J,K,L,Mas
q,0.984226,NaN,0.733597,0.371607,NaN,0.693137,NaN,NaN,1.295198,NaN,NaN,0.595155,1.579381
w,0.291302,NaN,0.671225,0.101904,1.793324,NaN,NaN,0.919862,NaN,1.720192,NaN,NaN,NaN
e,0.689847,NaN,0.022943,0.707545,1.632487,1.775484,NaN,NaN,NaN,NaN,NaN,0.967586,1.657432
r,0.525737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.615576,1.056803,1.093730,1.619467
t,NaN,NaN,NaN,1.842282,1.923605,NaN,NaN,0.834005,0.468609,NaN,0.719572,NaN,NaN

In [25]:
df.reset_index()

,index,A,B,C,D,E,F,G,H,I,J,K,L,Mas
0,q,0.984226,-1.175972,0.733597,0.371607,-0.327184,0.693137,-0.251994,-2.256398,1.295198,-0.082170,-1.036226,0.595155,1.579381
1,w,0.291302,-0.741298,0.671225,0.101904,1.793324,-0.401688,-0.272154,0.919862,-1.379043,1.720192,-0.199739,-1.037096,-0.745794
2,e,0.689847,-1.370253,0.022943,0.707545,1.632487,1.775484,-1.028201,-0.818512,-0.862518,-0.153520,-0.431242,0.967586,1.657432
3,r,0.525737,-0.559894,-0.816182,-1.765108,-0.475015,-0.970294,-0.630795,-0.198981,-0.519870,0.615576,1.056803,1.093730,1.619467
4,t,-0.451287,-0.552531,-1.219088,1.842282,1.923605,-0.635330,-0.318737,0.834005,0.468609,-1.899271,0.719572,-0.150814,-0.602101
5,y,-1.884001,-1.109015,-0.473523,0.046451,-0.597941,-0.161245,0.041225,-0.123249,0.329167,0.927127,0.294214,-2.056881,-3.940882
6,u,2.835687,-1.118738,-1.275022,-0.091661,2.613042,-0.622025,0.665116,0.356373,-0.657149,0.633161,0.497161,-1.744909,1.090778
7,i,-0.595164,1.236816,-0.397861,-1.099338,-0.598199,-2.933070,0.275034,1.337049,-0.368514,-0.762769,-0.220032,-0.352058,-0.947222
8,o,-0.203982,0.443715,0.612211,0.346948,-0.375863,-0.013831,0.075873,0.135495,1.367433,-0.620815,2.358383,0.354952,0.150970
9,p,0.387285,-1.236551,-0.828063,0.393527,-1.137252,-0.155862,-1.327144,-0.051935,1.007281,0.262962,0.503783,-1.336481,-0.949196

In [31]:
df["emam"]=("1 2 3 4 5 6 7 8 9 10").split()
df.set_index("emam") # inplace is False

,A,B,C,D,E,F,G,H,I,J,K,L,Mas
emam,,,,,,,,,,,,,
1,0.984226,-1.175972,0.733597,0.371607,-0.327184,0.693137,-0.251994,-2.256398,1.295198,-0.082170,-1.036226,0.595155,1.579381
2,0.291302,-0.741298,0.671225,0.101904,1.793324,-0.401688,-0.272154,0.919862,-1.379043,1.720192,-0.199739,-1.037096,-0.745794
3,0.689847,-1.370253,0.022943,0.707545,1.632487,1.775484,-1.028201,-0.818512,-0.862518,-0.153520,-0.431242,0.967586,1.657432
4,0.525737,-0.559894,-0.816182,-1.765108,-0.475015,-0.970294,-0.630795,-0.198981,-0.519870,0.615576,1.056803,1.093730,1.619467
5,-0.451287,-0.552531,-1.219088,1.842282,1.923605,-0.635330,-0.318737,0.834005,0.468609,-1.899271,0.719572,-0.150814,-0.602101
6,-1.884001,-1.109015,-0.473523,0.046451,-0.597941,-0.161245,0.041225,-0.123249,0.329167,0.927127,0.294214,-2.056881,-3.940882
7,2.835687,-1.118738,-1.275022,-0.091661,2.613042,-0.622025,0.665116,0.356373,-0.657149,0.633161,0.497161,-1.744909,1.090778
8,-0.595164,1.236816,-0.397861,-1.099338,-0.598199,-2.933070,0.275034,1.337049,-0.368514,-0.762769,-0.220032,-0.352058,-0.947222
9,-0.203982,0.443715,0.612211,0.346948,-0.375863,-0.013831,0.075873,0.135495,1.367433,-0.620815,2.358383,0.354952,0.150970
10,0.387285,-1.236551,-0.828063,0.393527,-1.137252,-0.155862,-1.327144,-0.051935,1.007281,0.262962,0.503783,-1.336481,-0.949196

In [29]:
df.index.names = ['Group',"any", "thing"]  #name for grouped index

In [30]:
df.dropna()

,A,B,C,D,E,F,G,H,I,J,K,L,Mas,emam
Group,,,,,,,,,,,,,,
q,0.984226,-1.175972,0.733597,0.371607,-0.327184,0.693137,-0.251994,-2.256398,1.295198,-0.082170,-1.036226,0.595155,1.579381,1
w,0.291302,-0.741298,0.671225,0.101904,1.793324,-0.401688,-0.272154,0.919862,-1.379043,1.720192,-0.199739,-1.037096,-0.745794,2
e,0.689847,-1.370253,0.022943,0.707545,1.632487,1.775484,-1.028201,-0.818512,-0.862518,-0.153520,-0.431242,0.967586,1.657432,3
r,0.525737,-0.559894,-0.816182,-1.765108,-0.475015,-0.970294,-0.630795,-0.198981,-0.519870,0.615576,1.056803,1.093730,1.619467,4
t,-0.451287,-0.552531,-1.219088,1.842282,1.923605,-0.635330,-0.318737,0.834005,0.468609,-1.899271,0.719572,-0.150814,-0.602101,5
y,-1.884001,-1.109015,-0.473523,0.046451,-0.597941,-0.161245,0.041225,-0.123249,0.329167,0.927127,0.294214,-2.056881,-3.940882,6
u,2.835687,-1.118738,-1.275022,-0.091661,2.613042,-0.622025,0.665116,0.356373,-0.657149,0.633161,0.497161,-1.744909,1.090778,7
i,-0.595164,1.236816,-0.397861,-1.099338,-0.598199,-2.933070,0.275034,1.337049,-0.368514,-0.762769,-0.220032,-0.352058,-0.947222,8
o,-0.203982,0.443715,0.612211,0.346948,-0.375863,-0.013831,0.075873,0.135495,1.367433,-0.620815,2.358383,0.354952,0.150970,9
p,0.387285,-1.236551,-0.828063,0.393527,-1.137252,-0.155862,-1.327144,-0.051935,1.007281,0.262962,0.503783,-1.336481,-0.949196,10